#about {
  font-family: "Poppins", sans-serif;
  position: relative;

}
#about .main-container {
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  background-color: #ff5500;
  color: #111111;

}

#about .main-container:hover {
  transition: background-color 0.8s ease;
  color: #111111;

}
#about .main-container h1 {
  color: #fff;
  font-size: 2.75rem
}
#about .main-container:hover h1 {
  color: #fff;
}

#about .main-container:hover span {
  color: #000;
}
.about-info {

  font-size: 0.9rem;
}
#aboutmain .brand-image{
  width: 100%;
  border-radius: 15px;
}
/* #about .image {
  transform: rotate(180deg);
} */
/*
.sub-container1 {
  font-family: 'Poppins', sans-serif;
  background-color: #ff6565;
} */
/* .sub-container1 .image {
  height: 100px;
  width: 100px;
  background: #fff !important;
} */
.box-container {
  font-family: "Poppins", sans-serif;
  background-color: #111111;
  border-radius: 15px;
  color: #fff;
}
.box-container:hover {
  transition: background-color 0.8s ease;
  background-color: #ff6565;
  color: #000;
}
.box-container h2 {
  color: #ff6565;
}

.box-container:hover h2 {
  color: #fff;
}
@media screen and (max-width: 769px) {
  #about {
    background-size: 100% 90%;
  }
  #about .image {
    margin-top: 0px;
  }
}
@media screen and (max-width: 426px) {
  #about {
    background-size: 100% 95%;
  }
  #about .image {
    margin-top: 0px;
  }
  #about .main-container {
    margin-bottom: 10px;
  }
}
